<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet" />
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
    * {
      margin: 0%;
      padding: 0%;
      box-sizing: border-box;
    }

    /* 
    
    1rem= 16px
    */

    html,
    body {
      height: 100%;
      width: 100%;
    }

    .searchSection {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      background-color: #72727231;
      display: none;
    }

    .searchSection .center {
      height: 70vh;
      width: 60vw;
      background-color: #fff;
      border-radius: 0.5rem;
    }

    .center input {
      width: 100%;
      background-color: #efefef;
      padding: 0.5rem 0.75rem;
      border: 1px solid rgb(125, 125, 125);
      outline: none;
      border-radius: 0.5rem;
    }

    .center .users {
      display: flex;
      flex-direction: column;
      padding: 0.5rem;

    }

    .center .users .user {
      display: flex;
      align-items: center;
      gap: 0.75rem;
      cursor: pointer;
    }

    .center .users .user img {
      height: 2.5rem;
      width: 2.5rem;
      border-radius: 50%;
    }

    #main .left {
      min-width: 13rem;
    }

    #main .left .top {
      display: flex;
      justify-content: space-between;
    }
  </style>

</head>

<body>

  <div id="main" class="h-full w-full flex">
    <div class="left p-2 bg-stone-500 text-white">
      <div class="top">
        <div class="user flex gap-[1rem] items-center">
          <img class="h-[2.5rem] w-[2.5rem] object-cover rounded-full" src="<%= loggedInUser.profileImage %>" alt="">
          <h2><%= loggedInUser.username %></h2>
        </div>
        <button onclick="openSearch()">
          <i class="ri-user-add-fill"></i>
        </button>
      </div>
      <div class="bottom pt-4">
        <h4>Chats</h4>
        <div class="chats">
          <% loggedInUser.friends.forEach(friend=>{ %>
          <div class="chat" id="shery_<%= friend._id %>">
            <div class="user flex gap-[1rem] items-center">
              <img class="h-[2rem] w-[2rem] object-cover rounded-full" src="<%= friend.profileImage %>" alt="">
              <h3><%= friend.username %></h3>
            </div>
          </div>
          <% }) %>
        </div>

      </div>
    </div>
    <div class="right"></div>

    <div class="searchSection">
      <div class="center">
        <input id="searchUserInput" type="text" placeholder="Search username">
        <div class="users">

        </div>
      </div>
    </div>

  </div>


  <script src="/socket.io/socket.io.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.7/axios.min.js" integrity="sha512-NQfB/bDaB8kaSXF8E77JjhHG5PM6XVRxvHzkZiwl3ddWCEPBa23T76MuWSwAJdMGJnmQqM0VeY9kFszsrBEFrQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>
    var socket = io();

    document.querySelector('#searchUserInput').addEventListener('input', async (event) => {
      const data = document.querySelector("#searchUserInput").value

      if (data == "") {
        return
      }


      const response = await axios.post('/searchUser', {
        data: data
      })


      document.querySelector('.center .users').innerHTML = ""
      response.data.forEach(searchUser => {
        appendSearchUser(searchUser.profileImage, searchUser.username, searchUser._id)
      });

    })


    function appendSearchUser(profileImage, username, id) {
      const template = `
      <div onclick="addFriend(event,'${id}','${profileImage}','${username}')" class="user" id="${id}" >
            <img src="${profileImage}" alt="">
            <h3> ${username} </h3>
          </div>`
      document.querySelector('.center .users').innerHTML += template
    }

    function appendChat(profileImage, username, id) {

      if (document.querySelector(`.chats #shery_${id}`)) {
        return
      }
      const template = `<div class="chat" id="shery_${id}" >
            <div class="user flex gap-[1rem] items-center">
              <img class="h-[2rem] w-[2rem] object-cover rounded-full" src="${profileImage}" alt="">
              <h3>${username}</h3>
            </div>
          </div>`
      document.querySelector('.chats').innerHTML += template
    }

    async function addFriend(event, id, profileImage, username) {
      try {
        const response = await axios.post('/addFriend', {
          friendId: id
        })

        console.log("this is working")

      } catch (err) {
        console.log("this is error")
      }

      appendChat(profileImage, username, id)

      document.querySelector('.searchSection').style.display = "none"

      // console.log(response)
    }

    function openSearch() {
      document.querySelector('.searchSection').style.display = "flex"
    }
  </script>
</body>

</html>